/* Stylesheet */
p{
	font-family: 'Noto Serif', serif;
	}

footer {
	background: #6FC;
	}

section {
	background: #F69
	}


/* Helper Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}