/* Stylesheet */

body {
	background: url("../img/bg.png");
	}


p {
	font-family: 'Noto Serif', serif;
	}

footer {
	
	}

section {
	
	}


/* Helper Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}